simd_imprints
*.swp
DaMoN-paper/damon2017-simd-imprints.aux
DaMoN-paper/damon2017-simd-imprints.bbl
DaMoN-paper/damon2017-simd-imprints.blg
DaMoN-paper/damon2017-simd-imprints.log
DaMoN-paper/damon2017-simd-imprints.out
DaMoN-paper/damon2017-simd-imprints.pdf
