simd_imprints
imprints
*.o
*.swp
publications/DaMoN-paper/damon2017-simd-imprints.aux
publications/DaMoN-paper/damon2017-simd-imprints.bbl
publications/DaMoN-paper/damon2017-simd-imprints.blg
publications/DaMoN-paper/damon2017-simd-imprints.log
publications/DaMoN-paper/damon2017-simd-imprints.out
publications/DaMoN-paper/damon2017-simd-imprints.pdf
publications/DaMoN-paper/damon2017-simd-imprints.dvi
publications/DaMoN-paper/comment.cut
publications/SIGMOD-paper/imprints.aux
publications/SIGMOD-paper/imprints.bbl
publications/SIGMOD-paper/imprints.blg
publications/SIGMOD-paper/imprints.log
publications/SIGMOD-paper/imprints.out
publications/SIGMOD-paper/imprints.pdf
publications/SIGMOD-paper/imprints.dvi
publications/SIGMOD-paper/imprints.ps
