simd_imprints
*.swp
DaMoN-paper/damon2017-simd-imprints.aux
DaMoN-paper/damon2017-simd-imprints.bbl
DaMoN-paper/damon2017-simd-imprints.blg
DaMoN-paper/damon2017-simd-imprints.log
DaMoN-paper/damon2017-simd-imprints.out
DaMoN-paper/damon2017-simd-imprints.pdf
DaMoN-paper/damon2017-simd-imprints.dvi
SIGMOD-paper/imprints.aux
SIGMOD-paper/imprints.bbl
SIGMOD-paper/imprints.blg
SIGMOD-paper/imprints.log
SIGMOD-paper/imprints.out
SIGMOD-paper/imprints.pdf
SIGMOD-paper/imprints.dvi
SIGMOD-paper/imprints.ps
